/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/spk
/public/pks
/storage/*.key
/vendor
/meeting
/note
/note_update
.env
.htaccess
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
cais.zip
public.zip
.gitlab-ci.yml
/.fleet
/.idea
/.vscode
